<div class="conteiner m-5">
	<div class="d-flex align-items-start">
		<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<button class="nav-link active my-2" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
				type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Особисті дані</button>
			<button class="nav-link my-2" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
				type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Історія замовлень</button>
			<button (click)="exit()" type="button my-3" class="btn btn-info">Вихід</button>


		</div>
		<div class="tab-content text-center" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
				tabindex="0">
				<ol class="list-group list-group-numbered">
					<li class="list-group-item d-flex">
						<div class="">
							<div class="fw-bold text-start ms-3 mb-4">Особисті дані</div>
							<div class="row mb-3">
								<div class="col-6">
									<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ваше ім'я">
								</div>
								<div class="col-6">
									<input type="text" class="form-control" id="formGroupExampleInput2"
										placeholder="Ваше прізвище">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-12 mb-3">
									<input type="text" class="form-control" id="formGroupExampleInput3"
										placeholder="Ваш номер телефону">
								</div>
								<div class="col-12">
									<input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Ваш емейл">
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item d-flex">
						<div class="">
							<div class="fw-bold text-start ms-3 mb-4">Адреси доставки</div>
							<div class="d-flex justify-content-between">
								<div>
									<button type="button" class="me-5 btn btn-light">Додати адресу</button>
								</div>
								<div>
									<button type="button" class="ms-5 btn btn-primary">Зберегти зміни</button>
								</div>
							</div>

						</div>
					</li>
				</ol>

			</div>
			<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
				tabindex="0">Розділ "Історія замовлень" ще в розробці</div>
		</div>
	</div>
</div>