<div class="conteiner">
	<div class="aboutFAQ mb-4">

		<div class="accordion accordion-flush" id="myAccordion">

			<div class="accordion-item">

				<button (click)="select()" class="btn btn-primary" type="button" data-bs-toggle="collapse"
					data-bs-target="#flush-collapseOne">
					{{!editStatus ? "Додати продукт" : "Оновити продукт"}}
				</button>

				<div id="flush-collapseOne"
					[class]="!editStatus ? 'accordion-collapse collapse border-0' : 'accordion-collapse border-0'"
					aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">

					<div class="accordion-body">
						<form [formGroup]="productForm" (ngSubmit)="addProduct()" class="row g-3" name="product">
							<div class="col-md-12">

								<label for="productCategory" class="form-label">Chose category:</label>
								<select formControlName="category" name="productCategory" class="form-select"
									(change)="select()">
									<option [ngValue]="category" *ngFor="let category of adminCategories">
										{{category.name}}
									</option>

								</select>
								<div class="valid-feedback"
									[style.display]="!productForm.controls['category'].errors ? 'block' : 'none'">
									Looks good!
								</div>
								<div class="invalid-feedback" [style.display]="		
										productForm.controls['category'].errors ? 'block': 'none'">
									Category is required...
								</div>
							</div>
							<div class="col-md-6">

								<input name="productTitle" formControlName="title" type="text" class="form-control"
									id="validationDefault02" placeholder="*Назва">
								<div class="valid-feedback"
									[style.display]="!productForm.controls['title'].errors ? 'block' : 'none'">
									Looks good!
								</div>
								<div class="invalid-feedback" [style.display]="		
									productForm.controls['title'].errors ? 'block': 'none'">
									Title is required...
								</div>
							</div>
							<div class="col-md-6">

								<input name="productPath" formControlName="path" type="text" class="form-control"
									id="validationDefault02" placeholder="*Шлях">
								<div class="valid-feedback"
									[style.display]="!productForm.controls['path'].errors ? 'block' : 'none'">
									Looks good!
								</div>
								<div class="invalid-feedback" [style.display]="		
									productForm.controls['path'].errors ? 'block': 'none'">
									Path is required...
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-floating">
									<textarea name="productDescription" formControlName="description" class="form-control"
										placeholder="Description" id="floatingTextarea2" style="height: 100px"></textarea>
									<label for="floatingTextarea2">*Інградієнти</label>
									<div class="valid-feedback"
										[style.display]="!productForm.controls['description'].errors ? 'block' : 'none'">
										Looks good!
									</div>
									<div class="invalid-feedback"
										[style.display]="productForm.controls['description'].errors ? 'block': 'none'">
										Description is required...
									</div>
								</div>
							</div>

							<div class="col-md-6">

								<input name="productSize" formControlName="productSize" type="number" class="form-control"
									id="validationDefault02" placeholder="*Вага">
								<div class="valid-feedback"
									[style.display]="!productForm.controls['productSize'].errors ? 'block' : 'none'">
									Looks good!
								</div>
								<div class="invalid-feedback" [style.display]="		
																							productForm.controls['productSize'].errors ? 'block': 'none'">
									Waight is required...
								</div>
							</div>

							<div class="col-md-6">

								<input name="price" formControlName="price" type="number" class="form-control"
									id="validationDefault02" placeholder="*Ціна">
								<div class="valid-feedback"
									[style.display]="!productForm.controls['price'].errors ? 'block' : 'none'">
									Looks good!
								</div>
								<div class="invalid-feedback" [style.display]="		
																							productForm.controls['price'].errors ? 'block': 'none'">
									Price is required...
								</div>
							</div>
							<div class="col-12">
								<div class="input-group mb-3" *ngIf="!isUploaded">

									<input name="productImagePath" type="file" class="form-control" id="inputGroupFile01"
										(change)="upload($event)">
									<div class="invalid-feedback"
										[style.display]="productForm.controls['imagePath'].errors ? 'block': 'none'">
										Image path is required...
									</div>
									<div class="progress mt-2 w-100">

										<div class="progress-bar progress-bar-striped" role="progressbar"
											aria-label="Default striped example" [style.width.%]="uploadPersent" aria-valuemin="0"
											aria-valuemax="100">
										</div>
									</div>
								</div>
								<div *ngIf="isUploaded" class="imagesUp">
									<img [src]="valueByControl('imagePath')" alt="" class="uploadedImg" width="150px">
									<div class=" mt-2">
										<button class="btn btn-primary" type="button" (click)="deleteImg()">Видалити</button>
									</div>
								</div>
							</div>
							<div class="col-12">
								<button class="btn mainColor" type="submit" [disabled]="productForm.invalid">
									{{!editStatus ? "Додати" : "Оновити"}}
								</button>
							</div>
						</form>
					</div>

				</div>
			</div>


		</div>

	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">№</th>
				<th scope="col">Категорія</th>
				<th scope="col">Назва</th>
				<th scope="col">Заголовок</th>
				<th scope="col">Опис</th>
				<th scope="col">Картинка</th>
				<!-- <th scope="col">Картинка</th> -->
				<th scope="col">Дії</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of adminProducts; let i=index">
				<td>{{i+1}}</td>
				<td>{{item.category.name }}</td>
				<td>{{item.title }}</td>
				<td>{{item.description| slice:0:20}}...</td>
				<td>{{item.productSize}}</td>
				<td>{{item.price}}</td>
				<td>
					<img [src]=" item.imagePath" alt="">
				</td>
				<!-- <td>{{item.productLabel}}</td> -->
				<td>
					<p><button class="btn btn-primary" type="button" (click)="editProduct(item)"
							[disabled]="disabled">Редагувати</button></p>
					<p><button class="btn btn-primary" type="button" (click)="deleteProduct(item)"
							[disabled]="disabled">Видалити</button></p>
				</td>

			</tr>
		</tbody>
	</table>
</div>