.mainColor{
	background-color: #b5d8f7;
	width: 125px;
}
.mainColor:hover{
	font-weight: bold;
}


div.imagesUp{
	margin: 0;
	padding: 0;
}

img.uploadedImg{
	width: 150px;
	height: 150px;
}

td img{
	width: 100px;
	height: 100px;
}